# Python Version: 3.11.4 - should work with 3.9+

configspace==0.7.1
torch==2.0.1
torchvision==0.15.2
scikit-learn==0.24.* # autoPyTorch requires version 0.24.*
numpy==1.25.0
pandas==2.0.3
openml==0.13.1
pyyaml==6.0
autoPyTorch==0.2.1 # autopytorch requires swig (apt-get install swig) https://github.com/automl/auto-sklearn/issues/314
tqdm==2.2.3
wand==0.6.11
dill==0.3.6
torchcontrib==0.0.2